<div class="row pb-2">
    <div class="col-6 mt-3">
      <p appFontSize>Alumnos</p>
    </div>
    <div *ngIf="(authUser$ | async)?.role != 'Usuario'" class="col-6 text-end">
      <button mat-fab extended color="accent" (click)="openCreateStudentDialog()">
          <mat-icon>add</mat-icon>
          Nuevo alumno
        </button>
      </div>
    </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover">
  
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element;let i = index"> 
              <button *ngIf="(authUser$ | async)?.role != 'Usuario'" mat-mini-fab matTooltip="Eliminar" color="warn"  (click)="removeData(element)">
              <mat-icon>delete</mat-icon> </button>&nbsp;
              <button *ngIf="(authUser$ | async)?.role != 'Usuario'" mat-mini-fab matTooltip="Modificar" color="primary"  (click)="editData(element)">
                <mat-icon>edit</mat-icon>
            </button> &nbsp;
            <button mat-mini-fab matTooltip="Ver más detalle" color="accent" (click)="showDetails(element.id)">
              <mat-icon>visibility</mat-icon></button> 
          </td>
        </ng-container>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
        <td mat-cell *matCellDef="let element"> {{element | fullName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate | date : "dd/MM/yyyy"}} </td>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
  
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  