<div class="container">
  <h2>Alumnos</h2>

  <ng-container *ngIf="isLoading; else content">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-template #content>
    <button
      [disabled]="(authUser$ | async)?.role != 'ADMIN'"
      mat-button
      (click)="openModal()"
    >
      <mat-icon> add </mat-icon>
      Crear alumno
    </button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td color="violet" appHighlight mat-cell *matCellDef="let alumno">
          {{ alumno | alumnoFullName }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno.email }}</td>
      </ng-container>

      <!-- Created At Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno.createdAt | date }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let alumno">
          <button (click)="goToDetail(alumno.id)" mat-icon-button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            [disabled]="(authUser$ | async)?.role != 'ADMIN'"
            (click)="openModal(alumno)"
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            [disabled]="(authUser$ | async)?.role != 'ADMIN'"
            (click)="onDelete(alumno.id)"
            mat-icon-button
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-template>
</div>