<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR (MENU LATERAL) -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a
        routerLinkActive
        #homeLink="routerLinkActive"
        routerLink="home"
        [activated]="homeLink.isActive"
        mat-list-item
      >INICIO</a>
      <a
        routerLink="alumnos"
        mat-list-item
        routerLinkActive
        #alumnosLink="routerLinkActive"
        [activated]="alumnosLink.isActive"
      >Alumnos</a>
      <a
        routerLink="cursos"
        mat-list-item
        routerLinkActive
        #cursosLink="routerLinkActive"
        [activated]="cursosLink.isActive"
      >Cursos</a>
      <a
        routerLink="clases"
        mat-list-item
        routerLinkActive
        #clasesLink="routerLinkActive"
        [activated]="clasesLink.isActive"
      >Clases</a>

      <a (click)="logout()" mat-list-item>CERRAR SESIÓN</a>
    </mat-nav-list>
  </mat-drawer>

  <!-- AREA DERECHA (CONTENIDO) -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR -->
    <mat-toolbar>
      <div class="d-flex justify-content-between align-items-center w-100 h-100">
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span>Inscripción a Cursada</span>
        </div>
        <div *ngIf="authUser$ | async; let authUser">
          <p>{{ authUser.firstName }} {{ authUser.lastName }}</p>
        </div>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <!-- <app-alumnos /> -->
  </div>
</mat-drawer-container>