<form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nombre del curso</mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cantidad de Alumnos</mat-label>
    <input formControlName="cantidadAlumnos" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Turno</mat-label>
    <mat-select formControlName="cursoId">
      <mat-option
        [value]="curso.id"
        *ngFor="let curso of cursos$ | async"
      >
        {{ curso.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button type="submit">Guardar</button>
</form>

<pre>{{ clases$ | async | json }}</pre>