.menu-container {
    height: calc(100vh - 64px);
  }
   
  .menu-sidenav {
    width: 200px;
  }

.menu-sidenav-content{
  padding: 2rem;
}

.menuIcons{
    vertical-align: bottom;
  }


  .active-link {
    background-color: #f6dfd1;
  }
