@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px; /* Ancho del menu lateral */
  }
  
  mat-sidenav-content {
    padding: 16px; /* Espaciado alrededor del contenido */
  }